@import url("./variables.css");


body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 2rem;
}

/* Default Light Theme */
body.light {
  background-color: #f8f9fa;
  color: #333;
}

/* Dark Theme */
body.dark {
  background-color: #121212;
  color: #f5f5f5;
  transition: background 0.3s ease, color 0.3s ease;
}
